
@font-face {
  font-family: 'fonter lir' Arial, Helvetica, sans-serif;
  src: url(./fonts/American\ Captain.ttf) 
  url(./fonts/American\ Captain.otf);
}

html{ background-color:black}


.img-titulo {  margin:1px 40px 1px 40px;
  padding: 20px 30px 30px 20px;
  border : solid  2px black; }


 h1{

color: #000000; background-color: rgb(129, 129, 129); font-style:initial ;    
margin: 0px 40px 90px 40px;
padding: 10px 4px 10px 4px;
border : outset  2px black;
font-family: capta
}

 .subtitulo{
  
font-family: 'American\ captain', 'Courier New', Courier, monospace;
color: rgba(#0000);background-color: rgb(129, 129, 129);
margin: 40px 40px 1px 40px;
padding: 10px 30px 1px 30px;
border : solid  2px rgb(129, 129, 129);
text-align: center}

.paragrafo{ 

    box-sizing: border-box;
    color: rgba(#0000);background-color: rgb(129, 129, 129);
    margin:1px 40px 1px 40px;
    padding: 20px 30px 30px 20px;
    border : solid  2px black;
   text-align: justify;
   font-family:'fonter lir' 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"
   
} 


.capitulos-link{

  color: black;
  background-color: rgb( 129,129,129);
  font-style: oblique;
  margin: 50px 43px 100px 55px;
  border-style: solid 2px rgb(129,129,129) ; 
  text-decoration: none;}
a:hover{color:black; background-color: rgb(255,255,255);}
a:visited{color: rgb(55, 55, 55);}
a:active{background-color: black; color: rgb( 129,129,129); }
  
  

  .img-subtitulo{

    background-color: rgb(129, 129, 129);
    padding: 3px 3px;
    border : solid 5px rgb( 129,129,129);
    margin: 40px;}

    