
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,800;1,300;1,700&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,600;1,100;1,200;1,300;1,500&display=swap');

  *{
    margin: 0%;
  
  }
html{ background-color:black;
  padding-top: 55px;}



  main{
    width: 900px;
    margin: 0
    auto;
    min-width: 320px;
    max-width: 1000px;
  }


.img-titulo {  
  border : solid  2px black;
min-width: 300px;
margin-top: 80px;
text-align: center;
 }

 header{
  background-color: rgb( 129,129,129);
  font-size: 10px;
  position:fixed ;
  width: 100%;
  padding: 10px;
  top:0;
  border: solid 5px black;
 }


nav{float:left;
font-size: 15px;}


 h1{

color: #000000; background-color: rgb(129, 129, 129); font-style:initial ;    
margin: 0px 40px 90px 40px;
padding: 10px 4px 10px 4px;
border : outset  2px black;
font-family: capta
}

 .subtitulo{ 
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
color: rgba(#0000);background-color: rgb(129, 129, 129);
margin: 40px 40px 1px 40px;
padding: 10px 30px 1px 30px;
border : solid  2px rgb(129, 129, 129);
text-align: center}

.paragrafo{ 
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 400;
  box-sizing: border-box;
  color: rgba(#0000);background-color: rgb(129, 129, 129);
  margin:1px 40px 0px 40px;
  padding: 20px 30px 30px 20px;
  border : solid  2px black;
  text-align: justify;
  
} 


.capitulos-link{

font-size: 25px;
  color: black;
  background-color: rgb( 129,129,129);
  font-style: oblique;
  margin: 50px 43px 100px 55px;
  border-style: solid 2px rgb(129,129,129) ; 
  text-decoration: none;}
a:hover{color:black; background-color: rgb(255,255,255);}
a:visited{color: rgb(0, 0, 0);}
a:active{background-color: black; color: rgb( 129,129,129); }
  
  

  .img-subtitulo{
    height: 582px;
    width: 850px;
    width: 100%;
    
  }

    